
<section class="jumbotron">
	<div class="container">
		<h2>Registra Perfiles</h2>
		<p>Cacao</p>
	</div>
</section>

<section class="main container">
	<div class="row">
		<section class="posts col-md-9">
			<div class="miga-de-pan">
				<ol class="breadcrumb">
					<li><a href="#/index.html">Ir a Inicio</a></li>
				</ol>
			</div>
			<article class="post clearfix">
				<br> Nombre del Perfil: <input type="text" class="form-control"
					ng-model="perfil.tipo"> <br>
				<table class="table table-bordered table-striped">
					<tbody>
<!-- 						<tr> -->
<!-- 							<td>Crear Empresa</td> -->
<!-- 							<td><input type="checkbox" ng-model="perfil.permisos[0]"></td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td>Editar Empresa</td> -->
<!-- 							<td><input type="checkbox" ng-model="perfil.permisos[1]"></td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td>Crear R&eacute;gimen</td> -->
<!-- 							<td><input type="checkbox" ng-model="perfil.permisos[2]"></td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td>Editar R&eacute;gimen</td> -->
<!-- 							<td><input type="checkbox" ng-model="perfil.permisos[3]"></td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td>Crear Empleado</td> -->
<!-- 							<td><input type="checkbox" ng-model="perfil.permisos[4]"></td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td>Editar Empleado</td> -->
<!-- 							<td><input type="checkbox" ng-model="perfil.permisos[5]"></td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td>Ejecutar N&oacute;</td> -->
<!-- 							<td><input type="checkbox" ng-model="perfil.permisos[6]"></td> -->
<!-- 						</tr> -->
						<tr>
							<td>Alta de Usuarios</td>
							<td><input type="checkbox" ng-model="perfil.permisos[7]"></td>
						</tr>
						<tr>
							<td>Editar Usuarios</td>
							<td><input type="checkbox" ng-model="perfil.permisos[8]"></td>
						</tr>
						<tr>
							<td>Crear Perfiles</td>
							<td><input type="checkbox" ng-model="perfil.permisos[9]"></td>
						</tr>
						<tr>
							<td>Editar Perfiles</td>
							<td><input type="checkbox" ng-model="perfil.permisos[10]"></td>
						</tr>
						<tr>
							<td>Facturaci&oacute;n</td>
							<td><input type="checkbox" ng-model="perfil.permisos[11]"></td>
						</tr>
						<tr>
							<td>Conceptos</td>
							<td><input type="checkbox" ng-model="perfil.permisos[12]"></td>
						</tr>
						<tr>
							<td>Clientes</td>
							<td><input type="checkbox" ng-model="perfil.permisos[13]"></td>
						</tr>
						<tr>
							<td>Series</td>
							<td><input type="checkbox" ng-model="perfil.permisos[14]"></td>
					</tbody>
					<!-- 					<thead> -->
					<!-- 						<tr> -->
					<!-- 							<th>Crear Empresa</th> -->
					<!-- 							<th>Editar Empresa</th> -->
					<!-- 							<th>Crear R&eacute;gimen</th> -->
					<!-- 							<th>Editar R&eacute;gimen</th> -->
					<!-- 							<th>Crear Empleado</th> -->
					<!-- 							<th>Editar Empleado</th> -->
					<!-- 							<th>Ejecutar N&oacute;</th> -->
					<!-- 							<th>Alta de Usuarios</th> -->
					<!-- 							<th>Editar Usuarios</th> -->
					<!-- 							<th>Crear Perfiles</th> -->
					<!-- 							<th>Editar Perfiles</th> -->
					<!-- 						</tr> -->
					<!-- 					</thead> -->
					<!-- 					<tbody> -->
					<!-- 						<tr> -->
					<!-- 							<td><input type="checkbox" ng-model="perfil.permisos[0]"></td> -->
					<!-- 							<td><input type="checkbox" ng-model="perfil.permisos[1]"></td> -->
					<!-- 							<td><input type="checkbox" ng-model="perfil.permisos[2]"></td> -->
					<!-- 							<td><input type="checkbox" ng-model="perfil.permisos[3]"></td> -->
					<!-- 							<td><input type="checkbox" ng-model="perfil.permisos[4]"></td> -->
					<!-- 							<td><input type="checkbox" ng-model="perfil.permisos[5]"></td> -->
					<!-- 							<td><input type="checkbox" ng-model="perfil.permisos[6]"></td> -->
					<!-- 							<td><input type="checkbox" ng-model="perfil.permisos[7]"></td> -->
					<!-- 							<td><input type="checkbox" ng-model="perfil.permisos[8]"></td> -->
					<!-- 							<td><input type="checkbox" ng-model="perfil.permisos[9]"></td> -->
					<!-- 							<td><input type="checkbox" ng-model="perfil.permisos[10]"></td> -->
					<!-- 						</tr> -->
					<!-- 					</tbody> -->
				</table>
				<br>
				<button type="submit" value="Guardar" class="btn"
					ng-click="EnviarFormulario()">Guardar</button>
				<button type="submit" value="Limpiar" class="btn">Limpiar</button>
			</article>
			<nav>
				<div class="center-blog"></div>
			</nav>

		</section>
	</div>
</section>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<p>Tikal</p>
			</div>
			<div class="col-xs-6">
				<ul class="list-inline text-right">
					<li><a href="index.html">Inicio</a></li>
					<li><a href="contacto.html">Contacto</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>