
<!--Aqui va-->
<section class="jumbotron">
	<div class="container">
	<h2>Registra Regímenes de la Empresa</h2>
	<p>{{nombreEmpresa}}</p>
	<submenu/>
	</div>
</section>

<div class="container">
	<div>
		<ol class="breadcrumb">
			<li><button class="btn btn-small btn-link"
					ng-click="regresaEmpresa()">Regresar a Detalles de
					Empresas</button></li>
		</ol>
	</div>
	<form class="form-inline" id="forma">
		<div class="row">
			
			<div class="col-md-7">
			Nombre del Esquema<br>
				<input type="text" class="form-control" ng-model="regimen.nombre">
			</div>
			 
			<div class="col-md-7">
			Tipo de Regimen<br>
				<select ng-model="regimen.tipoRegimen" class="form-control">
					<option ng-repeat="percepciones in listtipos">{{percepciones.descripcion}}</option>
				</select>
			</div>
			<div class="col-md-7">
			Riesgo de Puesto<br>
				<select ng-model="regimen.riesgoPuesto" class="form-control">
					<option ng-repeat="riesgo in riesgoPuestos">{{riesgo.descripcion}}</option>
				</select>
			</div>
			<div class="col-md-7">
			Forma de Pago<br>
				<input type="radio" name="pago" value="Semanal"
					ng-model="regimen.formaPago" ng-click="ejecutar(4)">
				Semanal<br> <input type="radio" name="pago" value="Decenal"
					ng-model="regimen.formaPago" ng-click="ejecutar(3)">
				Decenal<br> <input type="radio" name="pago" value="Quincenal"
					ng-model="regimen.formaPago" ng-click="ejecutar(2)">
				Quincenal<br> <input type="radio" name="pago" value="Mensual"
					ng-model="regimen.formaPago" ng-click="ejecutar(1)">
				Mensual
			</div>
			<br> 
			<div class="col-md-7" id=check>
			Dias de Pago<br>
				<!-- <input ng-disabled="disableDay[0]" type="text" class="form-control col-md-1" ng-model="regimen.diasDePago[3]"><input
					ng-disabled="disableDay[1]" type="text" class="form-control col-md-1" ng-model="regimen.diasDePago[2]"><input
					ng-disabled="disableDay[2]" type="text" class="form-control col-md-1" ng-model="regimen.diasDePago[1]"><input
					ng-disabled="disableDay[3]" type="text" class="form-control col-md-1"ng-model="regimen.diasDePago[0]">   -->

				<select ng-hide="disableDay[0]" class="form-control col-md-1"
					ng-model="regimen.diasDePago[0]" ng-change="dias()">
					<option ng-repeat="percepciones in diaspagos">{{percepciones.dia}}</option>
				</select> <select ng-hide="disableDay[1]" class="form-control col-md-1"
					ng-model="regimen.diasDePago[1]" ng-change="dias()">
					<option ng-repeat="percepciones in diaspagos">{{percepciones.dia}}</option>
				</select> <select ng-hide="disableDay[2]" class="form-control col-md-1"
					ng-model="regimen.diasDePago[2]" ng-change="dias()">
					<option ng-repeat="percepciones in diaspagos">{{percepciones.dia}}</option>
				</select> <select ng-hide="disableDay[3]" class="form-control col-md-1"
					ng-model="regimen.diasDePago[3]" ng-change="dias()">
					<option ng-repeat="percepciones in diaspagos">{{percepciones.dia}}</option>
				</select>
			</div>
			<div class="col-md-12" ng-hide="Mensaje">
				Los dias de Pago estan Incorrectos
			</div>
			<div class="col-md-7">
			<h3>Percepciones</h3>
			</div>
			
<!-- 			<div class="col-md-7"> -->
<!-- 			Catalogo<br> -->
<!-- 				<select ng-model="tipocat" class="form-control" -->
<!-- 					ng-change="catalPer()"> -->
<!-- 					<option ng-repeat="cat in catalogos">{{cat.tipo}}</option> -->
<!-- 				</select> -->
<!-- 			</div> -->
			
 
<!-- 			<div ng-hide="ClaveSat" class="col-md-7">			 -->
<!-- 			Clave del Catalogo Sat<br> -->
<!-- 				<select ng-model="inputPerc.clave" class="form-control" -->
<!-- 					ng-change="valor()" id="pend"> -->
<!-- 					<option ng-repeat="percep in percepciones" -->
<!-- 						value="{{percep.clave}}">{{percep.clave}}</option> -->
<!-- 				</select> -->
<!-- 			</div> -->
<!-- 			<div ng-hide="DescripcionSat" class="col-md-7"> -->
<!-- 			Descripcion del Catalogo del Sat <br> -->
<!-- 				<select ng-model="inputPerc.clave" class="form-control" -->
<!-- 					ng-change="valor()" id="pend2"> -->
<!-- 					<option ng-repeat="percep in percepciones" -->
<!-- 						value="{{percep.clave}}"> -->
<!-- 						{{percep.descripcion}}</option> -->
<!-- 				</select> -->
<!-- 			</div> -->
			
			
			<div ng-hide="ClaveEmpresa" class="col-md-7">
			Clave Catalogo de la Empresa <br>
				<select ng-model="inputPerc.clave" class="form-control"
					ng-change="valor()" id="claveEmpresa">
					<option ng-repeat="percep in tablacompleta"
						value="{{percep.percepcionCont.clave}}">{{percep.percepcionCont.clave}}</option>
				</select>
			</div>
			<div ng-hide="DescripcionEmpresa" class="col-md-7">			
			Clave del Catalogo Sat<br>
				<select ng-model="inputPerc.clave" class="form-control"
					ng-change="valor()" id="claveSat">
					<option ng-repeat="percep in tablacompleta"
						value="{{percep.percepcionCont.clave}}">{{percep.percepcionSat.clave}}</option>
				</select>
			</div>					
			<div ng-hide="DescripcionEmpresa" class="col-md-7">
			Descripcion Catalogo de la Empresa <br>
				<select ng-model="inputPerc.clave" class="form-control"
					ng-change="valor()" id="descripcionEmpresa">
					<option ng-repeat="percep in tablacompleta"
						value="{{percep.percepcionCont.clave}}">
						{{percep.percepcionCont.descripcion}}</option>
				</select>
			</div>
			<br>
			<div ng-hide="IsShow">
				
				<div class="col-md-7">
				Cantidad:<br>
					<input type="number" ng-model="inputPerc.cantidad"
						class="form-control">
				</div>
			</div>
			<div ng-hide="Horas" class="col-md-7">Numero de Horas Extras
				por Semana:</div>
			<div class="col-md-7">
				<div ng-hide="Semanal">
					Semana 1 <select ng-model="inputPerc.horasExtra[0]"
						class="form-control">
						<option ng-repeat="horasExtraSemana in horasExtra">{{horasExtraSemana.horas}}</option>
					</select>
				</div>
				<div ng-hide="Quincenal">
					Semana 2 <select ng-model="inputPerc.horasExtra[1]"
						class="form-control">
						<option ng-repeat="horasExtraSemana in horasExtra">{{horasExtraSemana.horas}}</option>
					</select>
				</div>
				<div ng-hide="Decenal">
					Semana 3 <select ng-model="inputPerc.horasExtra[2]"
						class="form-control">
						<option ng-repeat="horasExtraSemana in horasExtra">{{horasExtraSemana.horas}}</option>
					</select>
				</div>
				<div ng-hide="Mensual">
					Semana 4 <select ng-model="inputPerc.horasExtra[3]"
						class="form-control">
						<option ng-repeat="horasExtraSemana in horasExtra">{{horasExtraSemana.horas}}</option>
					</select>
				</div>
			</div>
			<br>
		
		<div class="col-md-12">
			<button ng-click="addPer(inputPerc)" class="btn btn-primary" value="Guardar">Agregar</button>
		</div>
		

			<br>
			<div class="col-md-7">
			<h3>Deducciones</h3>
			</div>
			
<!-- 			<div class="col-md-7"> -->
<!-- 			Catalogo<br> -->
<!-- 				<select ng-model="tipocatded" class="form-control" -->
<!-- 					ng-change="catalDed()"> -->
<!-- 					<option ng-repeat="catalo in catalogosDed">{{catalo.tipo}}</option> -->
<!-- 				</select> -->
<!-- 			</div> -->
			
<!-- 			<div ng-hide="ClaveSatDed" class="col-md-7">			 -->
<!-- 			Clave del Catalogo Sat<br> -->
<!-- 				<select ng-model="inputDeduc.clave" class="form-control" -->
<!-- 					ng-change="valordos()" id="pend"> -->
<!-- 					<option ng-repeat="deduc in deducciones" -->
<!-- 						value="{{deduc.clave}}">{{deduc.clave}}</option> -->
<!-- 				</select> -->
<!-- 			</div> -->
<!-- 			<div ng-hide="DescripcionSatDed" class="col-md-7"> -->
<!-- 			Descripcion del Catalogo del Sat <br> -->
<!-- 				<select ng-model="inputDeduc.clave" class="form-control" -->
<!-- 					ng-change="valordos()" id="pend2"> -->
<!-- 					<option ng-repeat="deduc in deducciones" -->
<!-- 						value="{{deduc.clave}}"> -->
<!-- 						{{deduc.descripcion}}</option> -->
<!-- 				</select> -->
<!-- 			</div> -->
			
			<div ng-hide="ClaveEmpresaDed" class="col-md-7">
			Clave Catalogo de la Empresa <br>
				<select ng-model="inputDeduc.clave" class="form-control"
					ng-change="valordos()" id="claveEmpresaDed">
					<option ng-repeat="dedu in tablacompletaDed"
						value="{{dedu.deduccionCont.clave}}">{{dedu.deduccionCont.clave}}</option>
				</select>
			</div>
			<div ng-hide="DescripcionEmpresaDed" class="col-md-7">			
			Clave del Catalogo Sat<br>
				<select ng-model="inputDeduc.clave" class="form-control"
					ng-change="valordos()" id="claveSatDed">
					<option ng-repeat="dedu in tablacompletaDed"
						value="{{dedu.deduccionCont.clave}}">{{dedu.deduccionSat.clave}}</option>
				</select>
			</div>					
			<div ng-hide="DescripcionEmpresaDed" class="col-md-7">
			Descripcion Catalogo de la Empresa <br>
				<select ng-model="inputDeduc.clave" class="form-control"
					ng-change="valordos()" id="descripcionEmpresaDed">
					<option ng-repeat="dedu in tablacompletaDed"
						value="{{dedu.deduccionCont.clave}}">
						{{dedu.deduccionCont.descripcion}}</option>
				</select>
			</div>
			
			
			<br>
			<div ng-hide="Descuento" class="col-md-7">
				Descuento
					<input type="text" ng-model="inputDeduc.descuento"
						class="form-control">
			</div>
			<br>
			<div ng-hide="Credito" class="col-md-7">
				Modalidad de Descuento
					<select ng-model="inputDeduc.modalidad" class="form-control">
						<option ng-repeat="modalidad in listTipoDescuento">{{modalidad.descripcion}}</option>
					</select>
			</div>
			<div ng-hide="Credito" class="col-md-7">
				Valor
					<input type="num" ng-model="inputDeduc.valorDeCredito"
						class="form-control">
			</div>
			<div ng-hide="Incapacidad" class="col-md-7">
				Tipo de Incapacidad
					<select ng-model="inputDeduc.incapacidad" class="form-control">
						<option ng-repeat="incapacidad in listTipoIncapacidad">{{incapacidad.descripcion}}</option>
					</select>
			</div>
			<div ng-hide="Incapacidad" class="col-md-7">
				Dias de Incapacidad
					<input type="number" ng-model="inputDeduc.diasIncapacidad"
						class="form-control">
			</div>
			<div ng-hide="Porcentaje" class="col-md-7">
				Porcentaje<br>
					<input type="text" ng-model="inputDeduc.descuento"
						class="form-control">
			</div>
			<div ng-hide="Ausencia" class="col-md-7">
				Dias de Ausencia
					<input type="num" ng-model="inputDeduc.descuento"
						class="form-control">
			</div>
			<div class="col-md-7">
			<button ng-click="addDed()" class="btn btn-primary" value="Guardar">Agregar</button>
			</div>
	</form>
</div>
</div>
<div class="container ">
	<div class="col-md-7">
		<h2>Percepciones</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Clave</th>
					<th>Descripcion</th>
					<th>Cantidad</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="percept in regimen.percepciones">
					<td>{{percept.clave}}</td>
					<td>{{percept.descripcion}}</td>
					<td>{{percept.cantidad}}</td>
				</tr>
			</tbody>
		</table>
		<h2>Deducciones</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Clave</th>
					<th>Descripcion</th>
					<th>Pocentaje</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="deduc in regimen.deducciones">
					<td>{{deduc.clave}}</td>
					<td>{{deduc.descripcion}}</td>
					<td>{{deduc.descuento}}</td>
				</tr>
			</tbody>
		</table>
		<button class="btn btn-primary" ng-click="save(empresa)">Guardar</button>
		<button ng-click="clean()" class="btn btn-primary">Limpiar</button>
	</div>
</div ng-view>
</div>
