<section class="jumbotron">
	<div class="container">
		<h2>Facturaci&oacute;n</h2>
		<p>{{nombreEmpresa}}</p>
		<submenu />
	</div>
</section>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<label for="example-text-input" class="col-2 col-form-label">*Fecha
				y Hora de Expedici&oacute;n:</label>
			<div class="col-10">
				<input class="form-control facInp" type="date" value="" id="fecha"
					ng-model="cfdiParaPago.fecha">
			</div>
		</div>
		<div class="col-md-2">
			<label for="example-text-input" class="col-2 col-form-label">*Lugar
				de Expedici&oacute;n:</label>
			<div class="col-10">
				<input class="form-control facInp" type="text" value="" id="lugar"
					name="lugar" ng-model="cfdiParaPago.lugarExpedicion.valor">
			</div>
		</div>
		<div class="col-md-4">
			<label for="example-text-input" class="col-2 col-form-label">*R&eacute;gimen
				Fiscal</label>
			<div class="col-10">
				<select class="form-control facInp"
					ng-model="cfdiParaPago.emisor.regimenFiscal.valor">
					<option value="601" selected>601-General de Ley Personas
						Morales</option>
					<option value="603">603-Personas Morales con Fines no
						Lucrativos</option>
					<option value="605">605-Sueldos y Salarios e Ingresos
						Asimilados a Salarios</option>
					<option value="606">606-Arrendamiento</option>
					<option value="608">608-Dem&aacute;s ingresos</option>
					<option value="609">609-Consolidaci&oacute;n</option>
					<option value="610">610-Residentes en el Extranjero sin
						Establecimiento Permanente en M&eacute;xico</option>
					<option value="611">611-Ingresos por Dividendos (socios y
						accionistas)</option>
					<option value="612">612-Personas F&iacute;sicas con
						Actividades Empresariales y Profesionales</option>
					<option value="614">614-Ingresos por intereses</option>
					<option value="616">616-Sin obligaciones fiscales</option>
					<option value="620">620-Sociedades Cooperativas de
						Producci&oacute;n que optan por diferir sus ingresos</option>
					<option value="622">622-Actividades Agr&iacute;colas,
						Ganaderas,Silv&iacute;colas y Pesqueras</option>
					<option value="623">623-Opcional para Grupos de Sociedades</option>
					<option value="624">624-Coordinados</option>
					<option value="607">607-R&eacute;gimen de
						Enajenaci&oacute;n o Adquisici&oacute;n de Bienes</option>
					<option value="615">615-R&eacute;gimen de los ingresos por
						obtenci&oacute;n de premios</option>
				</select>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
	<hr>
	<div class="row">
		<div class="form-group ">
			<div class="col-md-2">
				<label for="example-text-input" class="col-2 col-form-label">Serie:
				</label>
				<div class="col-10">
					<select class="facInp" ng-model="serialElegido"
						ng-options="r.serie for r in seriales"></select>
				</div>
			</div>
			<div class="col-md-2">
				<label for="example-text-input" class="col-2 col-form-label">Folio:</label>
				<div class="col-10">
					<input class="form-control facInp" type="number" value=""
						id="folio" name="folio" ng-model="serialElegido.folio" min="1"
						ng-disabled="serialElegido">
				</div>
			</div>
			<div class="col-md-2">
				<label for="example-text-input" class="col-2 col-form-label">*Tipo
					de Comprobante:</label>
				<div class="col-10">
					<input class="form-control facInp" type="text" value=""
						id="tipoComprobante" name="tipoComprobante" disabled
						ng-model="cfdiParaPago.tipoDeComprobante.valor">
				</div>
			</div>
			<div class="col-md-2">
				<label for="example-text-input" class="col-2 col-form-label">Moneda:</label>
				<div class="col-10">
					<input class="form-control facInp" type="text" value="" disabled
						id="moneda" name="moneda" ng-model="cfdiParaPago.moneda.valor">
				</div>
			</div>
		</div>
	</div>

</div>

